/* colors used on the site */
:root {
    /* page background color */
    --light-grey: #EDEDF6;
    /* header h1, h2 and color of text in header and banner */
    --dark-grey: #31343D;
    /* color of navigation text, h3, background for labels, borders */
    --light-blue: #92CCCD;
    /* text color in main section and footer, paragraph about me */
    --medium-grey: #435877;
    /* color for labels in main section: h4, .description, .contactdetails */
    --grey: #31333E;
    /* highlight color for projects, and in selection */
    --selected: #A1AF34;
    /* color to highligh images */
    --lighten: yellow;
}

::selection {
    background-color: var(--selected);
    color: var(--dark-grey);
}

/* Element selectors */

/* Setup background color and font for main content of site */
body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--medium-grey);
    background-color: var(--light-grey);
}

/* Design header which includes header label with name, avatar, and navigation bar */
header {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav {
    display:flex;
    flex-flow: row warp;
    align-items: flex-end;
}

main {
    display: flex;
    flex-direction: column;
}

h1,
h2
{
    background-color: var(--light-blue);
    color: var(--dark-grey);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 3.5rem;
    text-align: right;
    padding: 0 1.5rem 0 3rem;
}

/* Class selectors */

/* header-label handle avatar image and h1 element */
.header-label {
    display: flex;
    align-items: center;
}

/* formatting text in header label */
.header-label h1 {
    margin: 1rem 1rem 1rem 0;
    padding: 0 1rem 0 7rem;
}

/* Resize avatar image, position in the top left corner */
.avatar {
    width: 6rem;
    height: 6rem;
    position: absolute;
    padding: 0.2rem;
    margin: 0 1rem;
    border-radius: 50%;
}

/* design of the navigation links at the top menu*/
.nav-link {
    font-size: 1.3rem;
    color: var(--light-blue);
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    padding: 1rem;
}  

/* banner, used as background for subtitle */
.banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: url("../images/banner.jpg");
    background-size: cover;
    width: 100%;
    height: 10rem;
}

.banner-label {
    margin: 3rem 5rem 0 0;
    padding: 0 1rem 0 1rem;
}

/* display settings for the main content area */
.container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 1rem;
    flex: 1 0 100%;
} 

/* Paragraph settings for section 'About Me' */
.content-paragraph p {
    margin-bottom: 2rem;
}

/* design for left side area */
.container-left {
    display: block;
    min-width: 18rem;
    max-width: 18rem;
    border-right: 0.3rem solid var(--medium-grey);
}

/* rendering project cards within projects */
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4rem;
    justify-content: space-between;
    flex: 0 0 50rem;
}

.project {
    padding: 0.5rem;
}

.project-header {
    align-self: flex-end;
    position: absolute;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--light-blue);
  }
  
.project-card {
    border: 0.5rem solid var(--light-blue);
    display: flex;
    background-color: var(--light-blue);
    align-items: center;
}

.project img:hover {
    filter: brightness(1);
    filter: contrast(200%);
    filter: invert(75%);
    filter: opacity(25%);
    filter: saturate(30%);
    filter: sepia(60%);
}

/* design of 'About Me' text area */
.content-paragraph {
    display: block;
    margin: 0 4rem;
}

/* settings to render content in #contact-me section */
.footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex: 1 1 0;
    align-self: center;
}

/* design for links in the #contact-me section */
.contact-details {
    font-size: 1.3rem;
    color: var(--grey);
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    padding: 0 1rem;
}

/* to support screens less then 1340px, includes small screens, laptops*/
@media only screen and (max-width: 1340px) {

    /* adjust section names */
    h3 {
        padding: 0 1rem 0 0;
        text-align: right;
        margin: 0;
        width: 2rem;
        font-size: 3rem;
    }
    /* adjust left hand side section width */
    .container-left {
        min-width: 13rem;
        max-width: 13rem;
    }
    /* adjust right hand side section width */
    .content-paragraph {
        margin: 0 2rem;
    }
    /* adjust  */
    .projects {
        flex-flow: row wrap;
        flex: 1 1 400px;
        margin-left: 2rem;
    }
    
    .project {
        padding: 1rem;
    }

    .project-card img {
        max-width: 100%;
        height: auto;
    }
} 

/* to support screens for mobile devices and small screen tablets*/
@media only screen and (max-width: 599px) {
    /* adjust size of title, subtitle and section names */
    header {
        justify-content: flex-start;
    }
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        padding: 0 0.4rem;
        font-size: 1.5rem;
    }
    /* adjust settings to have content in place */
    .footer-links {
        display: flex;
        flex-flow: column wrap;
    }
    .container-left {
        min-width: 6.5rem;
        max-width: 6.5rem;
    }
    .project-card {
        background-color: var(--light-blue);
        border: 0.4rem solid var(--light-blue);
    }
    .project-header {
        margin: 0 0 0.5rem 0;
        padding: 0;
        background-color: var(--light-blue);
      }
    .content-paragraph {
        margin: 0 1rem;
    }
    .banner {
        justify-content: flex-end;
    }
    .banner-label {
        margin: 0;
        padding: 0 1rem 0 1rem;
    }

} 