/* colors used on the site */
:root {
    /* page background color */
    --light-grey: #EDEDF6;
    /* header h1, h2 and color of text in header and banner */
    --dark-grey: #31343D;
    /* color of navigation text, h3, background for labels, borders */
    --light-blue: #92CCCD;
    /* text color in main section and footer, paragraph about me */
    --medium-grey: #435877;
    /* color for labels in main section: h4, .description, .contactdetails */
    --grey: #31333E;
    /* highlight color for projects, and in selection */
    --light-on: #A1AF34;
}

::selection {
    background-color: var(--light-on);
}

/* Element selectors */

/* Setup background color and font for main content of site */
body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--medium-grey);
    background-color: var(--light-grey);
}

/* Paragraph settings */
p {
    margin-bottom: 30px;
}

/* Design header which includes header label with site name and avatar and navigation bar */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-grey);
}

nav {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 250%;
}

h1,
h2
{
    background-color: var(--light-blue);
    color: var(--dark-grey);
}

h3 {
    padding: 0 5px 0 50px ;
    text-align: right;
    font-size: 350%;
}

/* Class selectors */

/* header label handle avatar picture and h1 element */
.header__label {
    display: flex;
    align-items: center;
}

/* formatting text in header label */
.header__label h1 {
    margin: 1rem 1rem 1rem 0;
    padding: 0 1rem 0 7rem;
}

/* Resize avatar image, poistion in the top left corner */
.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 2px;
    margin: 0 0 0 5px;
    border-radius: 50%;
}

/* design of the navigation links at the top menu*/
.nav__link {
    font-size: 130%;
    color: var(--light-blue);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    padding: 1rem;
}  

/* banner or subheader part of site */
.banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: url("../images/banner.jpg");
    background-size: cover;
    width: 100%;
    height: 10rem;
}

.banner__label {
    margin: 3rem 5rem 0 0;
    padding: 0 1rem 0 1rem;
}

/* display settings for the main content area */
.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    flex: 1 0 100%;
} 

/* design for left side area */
.container__left {
    display: block;
    min-width: 300px;
    max-width: 300px;
    border-right: 5px solid var(--medium-grey);
}

/* rendering blocks within projects */
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 60px;
    justify-content: space-between;
    flex: 0 0 900px;
}

.project {
    margin: 10px;
    flex-shrink: 0;
}

.project-header {
    position: absolute;
    margin: 2rem 0 0 0;
    padding: 0.5rem 1rem;
    background-color: var(--light-blue);
  }
  
.project img {
    border: 5px solid var(--light-blue);
}

/* design of 'About Me' text area */
.content_paragraph {
    display: block;
    margin: 0 60px;
}

/* links design in footer section 'Contact Me' */
.content__links {
    display: flex;
    margin: 0 60px;
    flex-flow: row;
    justify-content: space-evenly;
    flex: 2 1 500px;
    align-self: center;
    margin-left: 5px;       
}

/* design for links in the footer #contact-me */
.contact-details {
    font-size: 130%;
    color: var(--grey);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* Design layout changes for handheld devices*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1310px) {

}

/* Changes in design for phones*/
@media screen and (min-width: 320px) and (max-width:768px) {

} 